//src/assests/styles/_color.scss

$primaryColor: var(--primary-color);
$primaryDarkColor: var(--primary-dark-color);
$primaryLightColor: var(--primary-light-color);
$secondaryColor: var(--secondary-color);
$backgroundColor: var(--background-color);
$backgroundDarkColor: var(--background-dark);
$dividerColor: var(--divider-color);
$dangerColor: var(--danger-color);
$successColor: var(--success-color);
$disabledFontColor: var(--disabled-font-color);
$highlightBackground: var(--highlight-background);
