// _colors.scss

$primaryColor: var(--primary-color);
$primaryDarkColor: var(--primary-dark-color);
$primaryLightColor: var(--primary-light-color);
$secondaryColor: var(--secondary-color);
$backgroundColor: var(--background-color);
$backgroundColorDark: var(--background-color-dark);
$backgroundBase: var(--background-base);
$highlightBackground: var(--highlight-background);
$primaryFontColor: var(--primary-font-color);
$dividerColor: var(--divider-color);
$dangerColor: var(--danger-color);
$successColor: var(--success-color);
$disabledFontColor: var(--disabled-font-color);
